<ion-modal-view>
  <ion-header-bar>
    <h1 class='title'>Submit Comment on Dish</h1>
    <div class='button button-clear button-stable' side='secondary' ng-click='closeModal()'>
      Close
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit='submitComment()'>
    <div class='list' name='commentForm'>
      <label class='item item-input item-select'>
        <div class='input-label'>Rating</div>
        <select ng-model="mycomment.rating">
          <option value=5>5</option>
          <option value=4>4</option>
          <option value=3>3</option>
          <option value=2>2</option>
          <option value=1>1</option>
        </select>
      </label>
      <label class='item item-input'>
        <span class='input-label'>Your Name</span>
        <input type='text' ng-model="mycomment.author">
      </label>
      <label class='item item-input'>
        <span class='input-label'>Your Comment</span>
        <input type='text' ng-model="mycomment.comment">
      </label>
      <label class='item item-input'>
        <button class='button button-block button-positive' type='submit'>
          Submit
        </button>
      </label>
    </div>
    </form>
  </ion-content>
</ion-modal-view>